/adt1_Activitat10/nbproject/private/
/adt_practica00/nbproject/private/
/adt1_Activitat10/build/
/SerializarFicheros/nbproject/private/
/SerializarFicheros/build/
/ADT3_Practica1/nbproject/private/
/ADT3_Practica1/build/
/Reto01_MetadatosImg/nbproject/private/
/Reto01_MetadatosImg/build/
/Reto_MetadatosImg/target/
/adt_XStream/nbproject/private/
/SwingFantasia/nbproject/private/
/SwingFantasia/build/
/ProbesPreExamen/nbproject/private/
/ProbesPreExamen/build/